[Unit]
Description=Mount lnx-dev-ci7

[Service]
ExecStart=/usr/bin/sshfs tgulacsi@cig_dev:/home/cig /home/%u/mnt/cig_dev -f -o noauto,user,reconnect,idmap=user,follow_symlinks,ServerAliveInterval=15,kernel_cache,auto_cache,auto_unmount
ExecStopPost=-/bin/fusermount -u /home/%u/mnt/cig_dev

[Install]
WantedBy=multi-user.target
