[Unit]
Description=Clear Go caches

[Service]
Type=oneshot
ExecStart=/usr/local/go/bin/go clean -cache -testcache

[Install]
WantedBy=multi-user.target
