[Unit]
Description=Start godoc

[Service]
Type=simple
ExecStart=/bin/sh -c 'exec /usr/bin/env GOPATH=/home/$(id -un) /usr/bin/godoc -http=:6060'
Nice=19
IOSchedulingClass=3
CPUSchedulingPolicy=idle
Restart=on-success

[Install]
WantedBy=basic.target
