[Unit]
Description=Start godoc

[Service]
Type=simple
ExecStartPre=-/bin/sh -c 'test -x /home/$(id -un)/bin/godoc || go install golang.org/x/tools/cmd/godoc@latest'
ExecStart=/bin/sh -c 'exec /usr/bin/env GOPATH=/home/$(id -un) /home/$(id -un)/bin/godoc -http=:6060'
#ExecStart=/bin/sh -c 'exec /usr/bin/env GOPATH=/home/$(id -un) $(go env GOROOT)/bin/godoc -http=:6060'
Nice=19
IOSchedulingClass=3
CPUSchedulingPolicy=idle
Restart=on-success

[Install]
WantedBy=basic.target
