[Unit]
Description=Start pkgsite

[Service]
Type=simple
ExecStartPre=-/bin/sh -c 'test -x /home/$(id -un)/bin/pkgsite || go install golang.org/x/pkgsite/cmd/pkgsite@latest'
ExecStart=/bin/sh -c 'exec env GOPATH=$HOME/go GOPROXY=https://proxy.golang.org /home/$(id -un)/bin/pkgsite -http=:6060 -cache -gopath_mode -proxy'
Nice=19
IOSchedulingClass=3
CPUSchedulingPolicy=idle
Restart=on-success

[Install]
WantedBy=basic.target
