[submodule "dotfiles/vim/bundle/vim-fugitive"]
	path = dotfiles/vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/vim/bundle/pyflakes-vim"]
	path = dotfiles/vim/bundle/pyflakes-vim
	url = http://github.com/kevinw/pyflakes-vim.git
[submodule "dotfiles/vim/bundle/nerdcommenter"]
	path = dotfiles/vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "dotfiles/vim/bundle/tagbar"]
	path = dotfiles/vim/bundle/tagbar
	url = http://github.com/majutsushi/tagbar.git
[submodule "dotfiles/vim/external/pathogen"]
	path = dotfiles/vim/external/pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "dotfiles/emacs/external/emacs-prelude"]
	path = dotfiles/emacs/external/emacs-prelude
	url = git://github.com/bbatsov/emacs-prelude.git
[submodule "dotfiles/emacs/external/evil"]
	path = dotfiles/emacs/external/evil
	url = git://gitorious.org/evil/evil.git
[submodule "dotfiles/emacs/external/solarized"]
	path = dotfiles/emacs/external/solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
