[Unit]
Description=F5 EndPointInspection

[Service]
Type=simple
Environment=DISPLAY=:0 QT_QPA_PLATFORM=xcb
ExecStart=/opt/f5/epi/f5epi
Nice=19
IOSchedulingClass=3
CPUSchedulingPolicy=idle
Restart=always
RestartSec=100ms
OOMPolicy=kill

#[Install]
#WantedBy=networking.target
#After=networking.target
